@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;

  font-family: "Poppins", sans-serif !important;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.mark,
mark {
  padding: 3px 8px;
}

// Variables
$section-padding: 120px;
$background-color: #fff; // Example background color
$text-color: #333; // Example text color

// Responsive Breakpoints
$large-screen: 1200px;
$laptop-screen: 992px;
$medium-screen: 768px;

// Styles
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 140%;
}

section {
  padding: $section-padding 0;
  background-color: $background-color;
  color: $text-color;
  min-height: 100vh;
}

footer {
  padding: 100px 0;
}

h1 {
  font-size: 56px;
  margin-bottom: 15px;
  // font-family: "IBM Plex Sans", sans-serif !important;
}

h2 {
  font-size: 50px;
  line-height: 140%;
  margin-bottom: 8px;
  // font-family: "IBM Plex Sans", sans-serif !important;
}

h3 {
  font-size: 36px;
  margin-bottom: 6px;
  // font-family: "IBM Plex Sans", sans-serif !important;
}

p {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 12px;
}

// Responsive Styles
@media screen and (max-width: $large-screen) {
  section {
    padding: 80px 0;
  }

  footer {
    padding: 80px 0;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: $laptop-screen) {
  section {
    padding: 80px 0;
  }

  footer {
    padding: 80px 0;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 1.2em;
  }

  p {
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: $medium-screen) {
  section {
    padding: 70px 0;
  }

  footer {
    padding: 70px 0;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 1em;
  }

  p {
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 12px;
  }

  body section .subtext {
    font-size: 16px !important;
    line-height: 160% !important;
    font-weight: 500 !important;
  }
}

$h_color_1: #333;
$h_color_2: #333333;
$h_color_3: #fff;
$h_background-color_1: #fff;
$h_background-color_2: rgba(233, 239, 235, 0.25);
$h_background-color_3: #8330c2;
$h_border-color_1: rgb(255, 255, 255);

header {
  background-color: $h_background-color_1;
  padding: 8px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  background-color: $h_background-color_2;
  border-color: $h_border-color_1;
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 99;

  .navbar {
    padding: 0;

    .navbar-nav {
      .nav-item {
        padding: 0;

        .nav-link {
          padding: 5px 0px;
          margin: 0 10px;
          text-decoration: none;
          color: $h_color_1;
          font-weight: 600;
          font-size: 16px;
          position: relative;
        }

        a:hover, a.active {
          color: #8330c2;
        }

        a:hover::after,
        a.active::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: #8330c2;
          position: absolute;
          bottom: 0;
          left: 0%;
          transition: width 0.3s ease;
        }

        .btn, .btn.active {
          &::after {
            display: none !important;
          }

          height: 40px;
          width: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;

          &:hover {
            color: #fff;
          }
          
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  header {
    .navbar {
      .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 992px) {
  header {
    .container {
      max-width: 100% !important;
    }

    .navbar-toggler {
      position: absolute !important;
      right: 0;
      top: 0;
      padding: 0 !important;
      color: $h_color_2;
      border: 0;

      .navbar-toggler-icon {
        color: $h_color_2;
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        outline: 0;
        box-shadow: none;
        background-size: 100%;
      }

     
    }

    .navbar-collapse {
      .navbar-toggler {
      .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100' height='100' viewBox='0 0 50 50'%3E%3Cpath d='M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z'%3E%3C/path%3E%3C/svg%3E");
      }
    }
    }
    .navbar-collapse {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100vw !important;
      height: 100vh !important;
      background-color: $h_background-color_1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      display: none;
      transition: none !important;
    }

    .navbar {
      .navbar-nav {
        .nav-item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          .nav-link {
            padding: 8px 10px;
            font-size: 5vw;
            line-height: 7.5vw;
            text-align: center;
          }
        }

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      position: relative;
    }

    .navbar-collapse.collapse.show {
      display: flex !important;
    }

    .navbar-collapse.collapse {
      .navbar-toggler {
        position: absolute !important;
        right: 12px;
        top: 8px;
        padding: 0 !important;
      }
    }
  }
}

$fcolor_1: #fff;
$fbackground-color_1: #8330c2;

footer {
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  background-color: $fbackground-color_1;
  color: $fcolor_1;
  text-align: center;
  padding: 5px;

  .footer-links {
    display: inline-block;

    ul {
      li {
        display: inline-block;
        padding: 10px;

        a {
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          color: $fcolor_1;
          max-width: 700px;
        }
      }
    }
  }

  padding: 50px 0;
  background-color: $fbackground-color_1;
  color: $fcolor_1;

  .footer-logo {
    a {
      font-size: 24px;
      color: $fcolor_1;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

// Variables
$btn-color_1: #fff;
$btn-color_2: #000;
$btn-background-color_1: #000;
$btn-background-color_2: #8330c2;

// Primary Button
.btn.btn-primary {
  background-color: $btn-background-color_1;
  border: 1px solid $btn-background-color_1;
  color: $btn-color_1;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 100px;
  outline: none;
  height: 50px;

  &:hover, &:focus, &:active {
    background-color: $btn-background-color_2;
    border: 1px solid $btn-background-color_2;
    color: $btn-color_1;
  }
}

// Outline Primary Button
.btn.btn-outline-primary {
  background-color: transparent;
  border: 2px solid $btn-background-color_1;
  color: $btn-color_2;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  padding: 14px 30px;
  cursor: pointer;
  border-radius: 100px;
  outline: none;
  height: 50px;

  &:hover, &:focus, &:active {
    border-color: $btn-background-color_2;
    color: $btn-background-color_2;
    background-color: #fef2ff !important;
  }
}

// ============================

$color_1: #000;
$color_2: #fff;
$background-color_1: #fff;
$background-color_2: rgba(0, 0, 0, 0.05);

.banner-section {
  min-height: calc(100vh - 0px);
  background-color: $background-color_1 !important;
  border: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1587258459922-4521d3704511?q=80&w=3262&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center 90%;
  position: relative;

  .container {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(45deg, $color_2, $color_2);
    opacity: 0.6;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(135deg, $color_2, $color_2);
    opacity: 0.6;
  }

  h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 90%;
    letter-spacing: -0.04em;
    color: $color_1;
    margin-bottom: 20px;
  }

  .subtext {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: $color_1;
    margin-bottom: 30px;
  }

  .tags {
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    span {
      background-color: $background-color_2;
      color: $color_1;
      padding: 5px 15px;
      margin: 0 5px 10px 5px;
      border-radius: 100px;
      font-size: 14px;
      font-weight: 500;
      display: inline-flex;
    }
  }
}

@media (min-width: 1024px) {
  .banner-section {
    h1 {
      font-size: 5.6vw;
      line-height: 6.5vw;
    }
  }
}

@media (max-width: 767px) {
  .banner-section {
    min-height: 100vh;
    padding: 80px 0;

    h1 {
      font-size: 10.6vw;
      line-height: 10.5vw;
    }

    p.subtext {
      font-size: 16px !important;
      line-height: 26px !important;
    }
  }

  .banner-section .tags span {
    padding: 6px 8px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 6px;
    margin: 0 2px 6px 2px;
  }

  .btn {
    font-size: 14px !important;
    line-height: 24px !important;
    height: 40px !important;
    padding: 7px 20px !important;
  }
}

// new css

$ccolor_1: #333;
$ccolor_2: #8330c2;
$cbackground-color_1: #f5f5f7;

.contact {
  h2 {
    font-weight: 700;

    letter-spacing: -0.05em;
    color: $ccolor_1;

    mark {
      position: relative;
      z-index: 1;
      background: 0 0;
      margin-left: 20px;
      color: $ccolor_1;
      display: inline-block;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0.12em;
        left: -0.2em;
        right: -0.2em;
        bottom: 0.06em;
        z-index: -1;
        background: #ffe3d3;
        border-radius: 0.8em !important;
      }
    }
  }

  .subtext {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: $ccolor_1;
    max-width: 700px;
  }

  .social-icons {
    a {
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: $ccolor_1;
      margin: 0 20px 0 0;
    }
  }

  a {
    &:hover {
      color: $ccolor_2;
    }
  }

  .partner-content {
    background-color: $cbackground-color_1;
    display: flex;
    justify-content: center;
    mask-image: radial-gradient(white, black);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 30px 40px;
    border-radius: 30px;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      font-size: 28px;
      line-height: 35px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
    }
  }
}

$p-color_1: #333;
$p-color_2: #666;
$p-color_3: #8330c2;
$p-color_4: #fff;
$p-background-color_1: #8330c2;

.pricing {
  h2 {
    font-weight: 700;
    letter-spacing: -0.05em;
    color: $p-color_1;

    mark {
      position: relative;
      z-index: 1;
      background: 0 0;
      margin-left: 10px;
      color: $p-color_1;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0.12em;
        left: -0.2em;
        right: -0.2em;
        bottom: 0.06em;
        z-index: -1;
        background: #ffe3d3;
        border-radius: 0.8em !important;
      }
    }
  }

  .subtext {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: $p-color_1;
    max-width: 700px;
  }

  .plan {
    display: inline-block;
    padding: 50px 40px;
    margin: 10px;
    background: #fef2ff;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      font-size: 24px;
      line-height: 30px;
      font-weight: 600;
      color: $p-color_1;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      color: $p-color_2;
      margin-bottom: 20px;
    }

    .price {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      color: $p-color_3;
      margin-bottom: 10px;
    }

    .btn-plan {
      padding: 15px 20px;
      font-size: 16px;
      width: 100%;
      display: block;
      text-align: center;
      color: $p-color_4;
      background-color: $p-background-color_1;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      text-transform: capitalize;
      font-weight: 500;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        color: $p-color_2;
        margin-bottom: 15px;
      }
    }
  }
}

$t-color_1: #333333;
$t-color_2: #333333;
$t-background-color_1: #f5f5f7;
$t-background-color_2: #fff;

.testi {
  overflow: hidden;
  background-color: $t-background-color_1;

  h2 {
    font-weight: 700;
    letter-spacing: -0.05em;
    color: $t-color_1;

    mark {
      position: relative;
      z-index: 1;
      background: 0 0;
      margin-left: 10px;
      color: $t-color_1;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0.12em;
        left: -0.2em;
        right: -0.2em;
        bottom: 0.06em;
        z-index: -1;
        background: #ffe3d3;
        border-radius: 0.8em !important;
      }
    }
  }

  .subtext {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: $t-color_1;
    max-width: 700px;
  }

  .testimonial-container {
    margin-top: 80px;
    display: flex;
  }

  .testimonial {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: var(--features-tile-border-radius);
    overflow: hidden;
    position: relative;
    background-color: $t-background-color_2;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-mask-image: radial-gradient(white, black);
    mask-image: radial-gradient(white, black);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 40px 50px;
    border-radius: 30px;
    align-items: flex-start;
    max-width: 100%;
    margin-right: 0px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
      margin-left: 40px;
      object-position: top;
    }

    p {
      font-size: 24px;
      color: $t-color_2;
      margin-bottom: 20px;
      font-weight: 500;
      min-height: 250px;
    }

    h3 {
      font-size: 26px;
      color: $t-color_2;
      margin-bottom: 0;
    }
  }
}

$t-color_1: #000;
$t-color_2: #333333;
$t-background-color_1: #fff;
$t-background-color_2: #f5f5f7;

.mywork-section {
  background-color: $t-background-color_1;
  overflow: hidden;

  h2 {
    font-weight: 700;
    letter-spacing: -0.05em;
    color: $t-color_1;

    mark {
      position: relative;
      z-index: 1;
      background: 0 0;
      margin-left: 10px;
      color: $t-color_1;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0.12em;
        left: -0.2em;
        right: -0.2em;
        bottom: 0.06em;
        z-index: -1;
        background: #ffe3d3;
        border-radius: 0.8em !important;
      }
    }
  }

  .subtext {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: $t-color_1;
    max-width: 700px;
  }

  .mywork-container {
    margin-top: 40px;
    display: flex;
  }

  .mywork {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: var(--features-tile-border-radius);
    overflow: hidden;
    position: relative;
    background-color: $t-background-color_2;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-mask-image: radial-gradient(white, black);
    mask-image: radial-gradient(white, black);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 40px 50px;
    border-radius: 30px;
    align-items: flex-start;
    max-width: 100%;
    margin-right: 0px;
    min-height: 500px;

    flex-direction: column;

    > div {
      margin-right: 0px;
      margin-bottom: 20px;
    }

    img {
      border-radius: 30px;
      width: 100%;
      min-width: 600px;
      display: block;
    }

    p {
      font-size: 20px;
      color: $t-color_2;
      margin-bottom: 10px;
      font-weight: 500;
    }

    h3 {
      font-size: 24px;
      font-weight: 600;
      color: $t-color_2;
      margin-bottom: 10px;
    }
  }
}

$w-color_1: #333333;
$w-background-color_1: #fef2ff;

.work {
  background-color: $w-background-color_1;

  h2 {
    font-weight: 700;
    letter-spacing: -0.05em;
    color: $w-color_1;

    mark {
      position: relative;
      z-index: 1;
      background: 0 0;
      margin-left: 10px;
      color: $w-color_1;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0.12em;
        left: -0.2em;
        right: -0.2em;
        bottom: 0.06em;
        z-index: -1;
        background: #ffe3d3;
        border-radius: 0.8em !important;
      }
    }
  }

  .subtext {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: $w-color_1;
    max-width: 700px;
    margin-bottom: 30px;
  }

  .ct-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  .ct-box .ct-latest-thumb-archive img {
    object-fit: cover;
    width: 400px;
    border-radius: 20px;
  }

  .ct-box .ct-latest-description {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    align-self: start;
  }

  .ct-box .ct-latest-description h2 {
    font-size: 26px;
    font-weight: 500;
  }

  .ct-box .ct-latest-description p {
    font-size: 16px;
    font-weight: 400;
  }

  .ct-box .ct-latest-description a {
    color: #333333 !important;
  }

  @media (max-width: 992px) {
    .ct-box .ct-latest-thumb-archive img {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .ct-box {
      flex-direction: column;
    }
  }
}

$s-color_1: #333333;
$s-background-color_1: #f5f5f7;
$s-background-color_2: #fff;

.skills {
  background-color: $s-background-color_1;
  border-radius: 0 !important;

  h2 {
    font-weight: 700;

    letter-spacing: -0.05em;
    color: $s-color_1;

    mark {
      position: relative;
      z-index: 1;
      background: 0 0;
      margin-left: 10px;
      color: $s-color_1;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0.12em;
        left: -0.2em;
        right: -0.2em;
        bottom: 0.06em;
        z-index: -1;
        background: #ffe3d3;
        border-radius: 0.8em !important;
      }
    }
  }

  .subtext {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: $s-color_1;
    max-width: 700px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .card {
    background-color: $s-background-color_2;
    padding: 30px 30px;
    border: 0;
    border-radius: 18px;
    &:nth-last-child(1) {
      margin-bottom: 0 !important;
    }
  }

  .skill-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    
  }

  .skill-name {
    flex-grow: 1;
    margin-right: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: $s-color_1;
    white-space: nowrap;
  }

  .skill-level {
    width: 100%;
    text-align: right;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: $s-color_1;
  }
}

.specialization-name {
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  color: $s-color_1;
  margin-bottom: 15px;
  display: block;
}

.specialization-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: $s-color_1;
  margin-bottom: 20px;
}

$time-color_1: #fff;
$time-color_2: #333;
$time-background-color_1: hwb(274 19% 25%);
$time-background-color_2: #fff;
$time-background-color_3: rgba(233, 239, 235, 0.25);
$time-border-color_1: rgb(255, 255, 255);

.education {
  background-color: $time-background-color_1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1125%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1132' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1132' x='0' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1132' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1132' x='720' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1132' x='1440' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1132' x='1440' y='720'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1125'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1127'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1131'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1128'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1129'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1126'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1130'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1132'%3e%3cuse xlink:href='%23SvgjsPath1126' x='30' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='30' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='30' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='30' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='30' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='30' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='30' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='30' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='30' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='30' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='30' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='30' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='90' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='90' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='90' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.25)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='90' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='90' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='90' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='90' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='90' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='90' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='90' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='90' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='90' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='150' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='150' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='150' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='150' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='150' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='150' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='150' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='150' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='150' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='150' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='150' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='150' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='210' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='210' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='210' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='210' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='210' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='210' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='210' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='210' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='210' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='210' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='210' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='210' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='270' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='270' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='270' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='270' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='270' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='270' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='270' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='270' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='270' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='270' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='270' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='270' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='330' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='330' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='330' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='330' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='330' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='330' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='330' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='330' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='330' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='330' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='330' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='330' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='390' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='390' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='390' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='390' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='390' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='390' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='390' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='390' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='390' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='390' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.25)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='390' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.25)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='390' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='450' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='450' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='450' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.25)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='450' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1130' x='450' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.25)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='450' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='450' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='450' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='450' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='450' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='450' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='450' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='510' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='510' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='510' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='510' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='510' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='510' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='510' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='510' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='510' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='510' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='510' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='510' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='570' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='570' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='570' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='570' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='570' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='570' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='570' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='570' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='570' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='570' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='570' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='570' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1131' x='630' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='630' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='630' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='630' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='630' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='630' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='630' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='630' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='630' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='630' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='630' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='630' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='690' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1129' x='690' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='690' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='690' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='690' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='690' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='690' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1128' x='690' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='690' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='690' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1127' x='690' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1126' x='690' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.25)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  background-position: center;
  background-repeat: repeat;
  border-radius: 0 !important;

  h2 {
    font-weight: 700;
    letter-spacing: -0.05em;
    color: $time-color_1;
    margin-bottom: 40px;

    mark {
      position: relative;
      z-index: 1;
      background: 0 0;
      margin-left: 20px;
      color: $time-color_2;
      display: inline-block;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0.12em;
        left: -0.2em;
        right: -0.2em;
        bottom: 0.06em;
        z-index: -1;
        background: #ffe3d3;
        border-radius: 0.8em !important;
      }
    }
  }

  .subtext {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: $time-color_1;
    max-width: 700px;
  }
}

.timeline-item {
  position: relative;
  background-color: $time-background-color_2;
  padding: 30px 30px;
  border: 0;
  border-radius: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  background-color: $time-background-color_3;
  border-color: $time-border-color_1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 9;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.timeline-content {
  max-width: 600px;
  color: $time-color_1;
}

.timeline {
  h3 {
    margin-top: 0;
    color: $time-color_1;
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 10px;
  }

  .timeline-date {
    color: $time-color_1;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 10px;
    display: inline;
    margin-left: 10px;
    opacity: 0.8;
  }

  p {
    color: $time-color_1;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 00px;
  }
}

@media (max-width: 600px) {
  .timeline-item {
    margin-left: 20px;
    margin-right: 20px;
  }

  .timeline-content {
    max-width: none;
  }
}

$ab-color_1: #333;
$ab-color_2: #8330c2;
$ab-background-color_1: #fef2ff;

.about-me {
  border-radius: 50px 50px 0 0;
  background-color: $ab-background-color_1 !important;
  border: 0 !important;
  min-height: 100vh;

  img {
    border-radius: 20px;
    // border: 2px solid #8330c2;
    box-shadow: 5px 5px #8330c2;
  }

  h2 {
    font-weight: 700;
    letter-spacing: -0.05em;
    color: $ab-color_1;
    margin-bottom: 40px;

    mark {
      position: relative;
      z-index: 1;
      background: 0 0;
      margin-left: 20px;
      color: $ab-color_1;
      display: inline-block;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0.12em;
        left: -0.2em;
        right: -0.2em;
        bottom: 0.06em;
        z-index: -1;
        background: #ffe3d3;
        border-radius: 0.8em !important;
      }
    }
  }

  .subtext {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: $ab-color_1;
    max-width: 650px;
    margin-bottom: 30px;
  }

  .social-icons a {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  footer .footer-logo a {
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }

  .about-me {
    border-radius: 0;

    img {
      text-align: center;
      max-width: 60%;
      margin: 30px auto 20px auto !important;
    }

    .flex-row-reverse {
      flex-direction: column-reverse !important;
      text-align: center;
    }
  }

  section h2 {
    margin-bottom: 20px;
  }

  .timeline h3 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .timeline .timeline-date {
    font-size: 12px;
    line-height: 10px;;
  }

  .timeline p {
    font-size: 14px;
    line-height: 22px;
  }

  .skills .skill-item {
    margin-bottom: 8px;
  }

  .specialization-name {
    font-size: 20px;
    line-height: 20px;
  }

  .specialization-description {
    font-size: 14px;
    line-height: 24px;
  }

  .skills .subtext {
    margin-bottom: 30px;
  }

  .skills .skill-name {
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
  }

  .skills .skill-level {
    font-size: 14px;
    line-height: 16px;
  }

  .work .subtext {
    margin-bottom: 30px;
  }

  .education .subtext {
    margin-bottom: 30px;
  }

  .skills .card {
    padding: 25px 25px;
  }

  .timeline-item {
    margin: 0 10px 20px 10px;
  }

  .testi .testimonial-container {
    margin-top: 20px;
  }

  .testi .testimonial {
    padding: 25px;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .testi .testimonial img {
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
  }

  .pricing .plan {
    padding: 25px;
    margin-bottom: 20px !important;
    height: unset;
  }

  .contact .partner-content {
    margin-top: 20px;
    padding: 25px;
  }

  .pricing .plan h4 {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
  }

  .pricing .plan .top {
    flex-direction: column;

    p {
      margin-bottom: 0;
      font-size: 12px !important;
      line-height: 14px !important;
    }
  }

  .pricing .plan .price {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .pricing .plan .btn-plan {
    font-size: 14px !important;
    line-height: 24px !important;
    height: 40px !important;
    padding: 7px 20px !important;
  }

  .pricing .plan ul li {
    list-style: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #666;
    margin-bottom: 12px;
  }

  .testi .testimonial p,
  .testi .testimonial h3 {
    font-size: 18px;
    line-height: 30px;
  }

  .contact .partner-content h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .social-icons a {
    margin-right: 10px !important;
  }

  .testi {
    height: auto !important;
    min-height: unset !important;
    padding-bottom: 80px;
  }
}

.social-icons {
  a {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: $ab-color_1;
    margin: 0 20px 0 0;

    &:hover {
      color: $ab-color_2;
    }
  }
}

.logo p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  white-space: nowrap;
}

@media (max-width: 767px) {
  section h2 {
    margin-bottom: 30px !important;
  }

  section h2 mark {
    margin-left: 10px !important;
  }

  .header {
    height: 50px;
  }

  .mywork-section {
    min-height: 100vh !important;

    .swiper-mywork {
      height: auto !important;
    }
  }

  .mywork-section .mywork {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    height: auto;
    min-height: unset;

    > div {
      margin-right: 0;
      margin-bottom: 20px;
    }

    img {
      min-width: 100%;
    }
  }
}

.swiper-container,
.swiper-mywork {
  width: 100%;
  height: unset;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  bottom: 10px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  max-height: 40px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute !important;
  bottom: -60px !important;
  top: auto !important;
  left: 1% !important;
  right: 0% !important;

  &::after {
    font-size: 14px !important;
    color: #000;
    font-weight: 600;
  }
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #000 !important;

  &::after {
    color: #fff !important;
  }
}

.swiper-button-next {
  left: calc(1% + 50px) !important;
}

main {
}

.swiper-mywork {
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    bottom: 10px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    max-height: 40px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute !important;
    bottom: 0 !important;
    top: -40px !important;
    right: 5% !important;
    left: auto !important;

    &::after {
      font-size: 14px !important;
      color: #000;
      font-weight: 600;
    }
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #000 !important;

    &::after {
      color: #fff !important;
    }
  }

  .swiper-button-next {
    right: calc(5% - 50px) !important;
  }
}

.modal .modal-dialog .modal-content {
  border-radius: 40px !important;
  padding: 30px;
}

@media (max-width: 767px) {
  .swiper-mywork {
    padding-bottom: 30px;
    position: relative;

    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      bottom: 10px;
      width: 40px;
      min-width: 40px;
      height: 40px;
      max-height: 40px;
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: absolute !important;
      bottom: -20px !important;
      top: auto !important;
      right: 15% !important;
      left: auto !important;

      &::after {
        font-size: 14px !important;
        color: #000;
        font-weight: 600;
      }
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
      background-color: #000 !important;

      &::after {
        color: #fff !important;
      }
    }

    .swiper-button-next {
      right: calc(15% - 50px) !important;
    }
  }
}

@media (min-width: 992px) {
  .content-sticky {
    position: sticky;
    top: 110px;
  }
}


// Variables
$service-bg-color: #fef2ff;
$service-title-color: #333;
$service-text-color: #333;
$service-icon-color: #007bff;

// My Service Section
.my-service {
  background-color: $service-bg-color;
  padding: 100px 0 80px 0;
  min-height: unset;
  
  .service-item {
    text-align: center;
    margin-bottom: 40px;

    .service-icon {
      font-size: 36px;
      color: $service-icon-color;
      margin-bottom: 30px;

      img {
        width: 80px;
        height: auto;
      }
    }

    .service-title {
      color: $service-title-color;
      font-size: 24px;
      line-height: 35px;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: capitalize;
      text-align: center;
      
    }

    .service-description {
      color: $service-text-color;
      font-size: 18px;
      line-height: 1.6;
    }
  }
}
